

<div class="container">
  <div class="row bg-dark">
   <div class="col">
     <form [formGroup]="contactForm">
        <div class="set">

          <div style="position: fixed;right: 20px;top: 20px;">
            <img style="width:150px;" src="assets/images/logo.gif" alt="">
          </div>

                        <h3>LOGIN PAGE</h3>
                        <p class="text-white">Please Enter Username and Password</p>   

                        <div class="mycount">   
                        <input  id="uname" class="bg-dark my3" type="email"  placeholder="Username" formControlName="username">          
                        <div *ngIf="contactForm.controls['username'].invalid && contactForm.controls['username'].touched">
                        <span class="name"> Enter Correct Email</span>>                
                        </div>
                        <input id="pass" class="bg-dark my3" type="Password"  placeholder="Password"  formControlName="password">
                        <div *ngIf="contactForm.controls['password'].invalid && contactForm.controls['password'].touched">
                        <span class="name"> Your Password Invalid</span>>                                
                        </div>

                        <div style="color:white; font-size: 14px;text-align: right">
                          forget password?<span style="cursor: pointer;font-weight: 500; font-size: 18px;"
                         (click)="onForgetPassword()"> click here</span>
                      </div>  
                    
                         <!-- <a class="text-white bg-dark"> Forgot password?</a> -->
                        </div>

                     <div class="my1">                    
                     <!-- for simple groupform <button type="button" class="btn btn-secondary my" (click)='onSubmit(contactForm.value)'>login</button>-->
                     <button type="button" class="btn btn-black my" (click)='onSubmit()' [disabled]= !contactForm.valid >login</button>
                     <!-- <button type="button" class="btn btn-secondary my" (click)='get()'>get</button>
                      <button type="button" class="btn btn-secondary my" (click)='set()'>Set</button>
                      <button type="button" class="btn btn-secondary my" (click)='patch()'>patch</button>
                      <button type="button" class="btn btn-secondary my" (click)='reset()'>reset</button>-->
                         <div class="myicon">
                           <a href="#"> <i class="fab fa-facebook"></i> </a> 
                           <a href="#"> <i class="fab fa-twitter"></i> </a>
                           <a href="#"> <i class="fab fa-google"></i> </a>    
                        </div> 
                    </div> 
        
          </div>        
      </form>
      </div>
  </div>
</div> 
