
<div class="header bg-secondary" style="height: auto;">
    <div class="container">
      <!-- header -->
      <div class="row bg-success">
        <div class="col-md-4">
         <h4 style="color: white; padding-top: 5px;" ><i class="fas fa-address-card"></i> SaqiLogo</h4> 

        </div>
         <div class="col1 col-md-8">
            <ul id="menu" style="padding-top: 10px;">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
             </ul>
         </div>
         <marquee behavior="scroll" direction="right">
          <img src="assets/yu.jpg" width="500" height="100" style="margin-bottom: 5px;">
          </marquee>
      </div>
     <!-- body -->
      <div class="menu1 row text-center bg-white">
        <div class="col-md-6">
         <h2><b>House1</b></h2>
         <p>This is our house</p>
         <img src="assets/img1.jpg" height="300" width="400">
        </div>
  
        <div class="col-md-6">
          <h2><b>House2</b></h2>
          <p>This is our house</p>
          <img src="assets/img1.jpg" height="300" width="400">
         </div>
  
      </div>
      
  
    </div>
  
    <div class="section">
      <div class="container">
        <div class="row text-center bg-white">
          <div class="menu3 col-md-6" style="background-color: darkgrey;">
           <h1><b>House Details</b></h1>
           <h3>We live in a three-room flat on the ground floor. It is in a big and modern colony of the city. There is a large drawing cum-dining hall, two bedrooms, a kitchen and toilets.

            There is also a big veranda. My father bought it ten years ago. Then, I was just four-years-old. It is large enough for all of us. We are just four persons in the family. I have one sister only.
            
            My parents believe in having a very small family. My house is built of bricks iron, tiles and marbles. It has got all the modern amenities of life. The bathroom is also large, airy and tiled It has a shower.
            
            The floor of my house is fully marbled. The kitchen of my house is large and comfortable. It is near the living room. One of its doors opens in a large balcony. From there we have a beautiful view of a park and a playground.
            
            </h3>
           <!-- <img src="assets/img1.jpg" height="400" width="400"> -->
          </div>
    
          <div class=" menu2 col-md-6"  style="background-color: darkgrey">
            <!-- <h4>house2</h4> -->
            <!-- <p class="text-secondary">This is our house</p> -->
            <img src="assets/img1.jpg" height="350" width="400">
           </div>
    
        </div>
  
      </div>
  
    </div>
   
    <!-- footer -->
    <div class="footer text-center">
      <div class="container">
        <div class="row bg-success">
          <div class="col">
             <h2>Copyright@</h2>
             <a href="#" class="fa fa-facebook icon1"></a> 
             <a href="#" class="fa fa-twitter icon1"></a>
             <a href="#" class="fa fa-google icon1"></a>    
          </div>
        </div>  
      </div>
    </div>
  </div>
  
  
  