/* // use for bootstrap practise
// use for header , menu */

h3{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
}

h4{
    font-family: 'Outfit', sans-serif;
}

#menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
   
}

#menu li a{
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}

#menu li a:hover{
    background-color: yellowgreen;
}

 /* use for section */

.menu1{
    padding: 80px 40px;
}

.menu2{
    padding: 110px 40px;
}

.menu3{
  padding: 80px 100px;
}

/* // use for footer */

.fa{
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

h2{
  display: inline;
}

.icon1{
  margin-left: 15px;
}

.fa:hover {
  color: turquoise;
}
