body{
    padding: 28.5px;
    background: linear-gradient(to right, #c42c27, #1565c0)   
  }
  
  .row{
   height: 500px;
  }
  
  
  .container{
    width: 600px;
    text-align: center;
    padding-top: 100px; 
    padding-bottom: 100px;
    
  }
  
  .set{
    padding-top: 30px;
  }
  
  .mycount{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
  }
   
  
  
  #uname{   
    border-radius: 20px; 
    border: 2px solid rgb(38, 109, 202);  
    margin-top: 20px;  
    text-align: center; 
    padding: 7px; 
    width: 220px; 
    color: white; 
  }  
  
  
  h3{
    padding-top: 100px;
    color: cornsilk;
  }
  
  
  
  .col{
    height: 450px;
    
  }
  
  
  .my{
    border: 2px solid rgb(0, 128, 68);
    margin: 20px;
    border-radius: 40px;
    width: 80px;
    color: white;
  }
  
  
 
  span.name{
    color:rgb(243, 13, 13)
  }
  
  
  